@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap') @tailwind base;

.container{
  width: 100%
}

@media (min-width: 640px){
  .container{
    max-width: 640px
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px
  }
}

.static{
  position: static
}

.absolute{
  position: absolute
}

.relative{
  position: relative
}

.bottom-0{
  bottom: 0px
}

.left-0{
  left: 0px
}

.right-0{
  right: 0px
}

.top-0{
  top: 0px
}

.top-\[160px\]{
  top: 160px
}

.z-10{
  z-index: 10
}

.m-0{
  margin: 0px
}

.mb-\[50px\]{
  margin-bottom: 50px
}

.ml-5{
  margin-left: 1.25rem
}

.mt-\[420px\]{
  margin-top: 420px
}

.mt-\[450px\]{
  margin-top: 450px
}

.box-content{
  box-sizing: content-box
}

.flex{
  display: flex
}

.grid{
  display: grid
}

.h-\[1000px\]{
  height: 1000px
}

.h-\[130px\]{
  height: 130px
}

.h-\[1px\]{
  height: 1px
}

.h-\[350px\]{
  height: 350px
}

.h-\[550px\]{
  height: 550px
}

.h-full{
  height: 100%
}

.w-\[100\%\]{
  width: 100%
}

.w-\[100px\]{
  width: 100px
}

.w-\[1080px\]{
  width: 1080px
}

.w-\[40\%\]{
  width: 40%
}

.w-\[50\%\]{
  width: 50%
}

.w-\[80\%\]{
  width: 80%
}

.w-full{
  width: 100%
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.list-none{
  list-style-type: none
}

.items-center{
  align-items: center
}

.justify-end{
  justify-content: flex-end
}

.justify-center{
  justify-content: center
}

.justify-between{
  justify-content: space-between
}

.justify-items-center{
  justify-items: center
}

.gap-3{
  gap: 0.75rem
}

.gap-5{
  gap: 1.25rem
}

.overflow-hidden{
  overflow: hidden
}

.rounded-full{
  border-radius: 9999px
}

.rounded-sm{
  border-radius: 0.125rem
}

.border-none{
  border-style: none
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-gray-400{
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity))
}

.bg-red-100{
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity))
}

.bg-red-900{
  --tw-bg-opacity: 1;
  background-color: rgb(127 29 29 / var(--tw-bg-opacity))
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.fill-white{
  fill: #fff
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover
}

.px-0{
  padding-left: 0px;
  padding-right: 0px
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem
}

.pr-10{
  padding-right: 2.5rem
}

.pt-5{
  padding-top: 1.25rem
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem
}

.leading-\[3rem\]{
  line-height: 3rem
}

.text-blue-950{
  --tw-text-opacity: 1;
  color: rgb(23 37 84 / var(--tw-text-opacity))
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.underline{
  text-decoration-line: underline
}

.opacity-45{
  opacity: 0.45
}

.shadow-inner{
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-gray-200{
  --tw-shadow-color: #e5e7eb;
  --tw-shadow: var(--tw-shadow-colored)
}

.blur{
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.slider-image-text{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 550px;
  z-index: 20;
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  opacity: 0.2
}

/*rgba(255, 98, 0, 0.375), rgba(255, 98, 0, 0.35)*/

.top_navigation li{
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: flex-end;
  justify-content: center
}