.slide {
    animation-name: slider;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
  }

  @keyframes slider {
    0% {transform: translate(0px);}
    10% {transform: translate(0px);}
    20% {transform: translate(-1080px);}
    30% {transform: translate(-1080px);}
    40% {transform: translate(-2160px);}
    50% {transform: translate(-2160px);}
    60% {transform: translate(-2160px);}
    70% {transform: translate(-1080px);}
    80% {transform: translate(-1080px);}
    90% {transform: translate(0px);}
    100% {transform: translate(0px);}
  }